<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.petendi.ethereum.android">
    <application>
        <service
            android:name=".EthereumAndroidService"
            android:exported="true">
            <intent-filter>
                <action android:name="de.petendi.ethereum.android.action.RESPONSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>